---
import BaseLayout from './BaseLayout.astro';
import BlurredOverlay from "../components/BlurredOverlay.astro";
import PaddedPage from "../layouts/PaddedPage.astro";
import Nav from "../components/Nav.astro";
import MenuIcons from "../components/MenuIcons.astro";
import Name from "../components/Name.astro";

// New Components
import AlbumViewer from "../components/AlbumViewer.astro";
import Lightbox from "../components/Lightbox.astro";

const { frontmatter } = Astro.props; 
const { title, heroImage, featuredImages } = frontmatter;
---

<BaseLayout title={`AvD Photography | ${title}`}>
    <PaddedPage>
        <div id="albumGrid">
            <Name/>
            <Nav/>
            <MenuIcons/>
            
            <div id="contentWrapper"></div>

            <div id="texts">
                <div id="title" class="text-[var(--color-text-primary-light)] dark:text-[var(--color-text-primary-dark)] text-[min(5svw,10.5svh)] pt-[min(1.4svw,2.828svh)]">{title}</div>
                <div id="description" class="w-[50%]">
                    <slot/> 
                </div>
            </div>
            
            <AlbumViewer 
                title={title} 
                heroImage={heroImage} 
                featuredImages={featuredImages} 
            />

        </div>

        <Lightbox images={featuredImages} />

    <BlurredOverlay/>
    </PaddedPage>
</BaseLayout>

<style is:global>
    #title {
        font-weight: 200;
        letter-spacing: -0.05em;
    }

    #texts {
        font-size: min(1svw, 2.02svh);
        grid-area: texts;
        position: relative;
        z-index: 10;
    }

    /* --- GRID --- */
    #albumGrid {
        height: 100%;                       
        width: 100%;                        
        display: grid;                     
        grid-template-columns: 52% 23% 25%;
        grid-template-rows: 4% 92% 4%;
        grid-template-areas: 
            "name nav menuIcons"
            "texts heroImage heroImage"
            "tip heroImage heroImage"; 
        overflow: hidden; 
    }
    #name {grid-area: name;}
    #nav {grid-area: nav;}
    #menuIcons {grid-area: menuIcons;}
    #heroImage { grid-area: heroImage; }

    @media (max-aspect-ratio: 3.1/4) {
        #albumGrid {
            grid-template-columns: 50% 50%;
            grid-template-rows: 4% 55% 37% 4%; 
            grid-template-areas: 
                "name menuIcons" 
                "heroImage heroImage" 
                "texts texts" 
                "tip tip";
        }

        #texts, #description {
            width: 100%;
        }

        #texts {
            font-size: 2.2svw;
        }

        #title {
            font-size: 11svw;
            padding-top: 3.8svw;
        }
    }
</style>